@font-face {
    font-family:"GOW";
    src: url("../../ttf/god-of-war.ttf") format("truetype");
  }
.navbar {
    background-color: #ECC430;
    width: 100%;
    height: 80px;
    font-family: GOW;
}
